<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        SchedOpt
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <!--<li><a ui-sref="#">LineChart</a></li>-->
        <li ui-sref-active="active"><a ui-sref="gantt">GanttCchart</a></li>
      </ul>
    </div>
  </div>
</nav>
