<div class="container-fluid">
    <alert ng-if="vm.progress==100" ng-repeat="alert in vm.alerts" dismiss-on-timeout="10000" close="vm.closeAlert()">{{alert.msg}}</alert>
    <div class="row">
        <div class="col-md-offset-3 col-md-6" ng-show="vm.isProcessing && vm.progress!=100">
            <progressbar class="progress-striped active" value="vm.progress" max="vm.progressMax">{{vm.progress}} / {{vm.progressMax}}</progressbar>
        </div>
    </div>

    <div class="row">
            <div class="jumbotron text-left">
                <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
                    <tr ng-repeat="row in $data">
                        <td data-title="'SkillNum'" sortable="'skillNum'" filter="{skillNum: 'number'}">{{row.skillNum}}</td>
                        <td data-title="'ClassNum'" sortable="'classNum'" filter="{classNum: 'number'}">{{row.classNum}}</td>
                        <td data-title="'NumAssigned'" sortable="'numAssigned'" filter="{numAssigned: 'number'}">{{row.numAssigned}}</td>
                    </tr>
                </table>
                <button type="button" class='btn btn-primary' ng-click="vm.newDailySched()">Create Daily Schedule</button>
            </div>
    </div>
</div>
