<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        SchedOpt
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="scheduling">Scheduling</a></li>
        <li ui-sref-active="active"><a ui-sref="seasonal_schedule">Seasonal Schedule</a></li>
        <li ui-sref-active="active"><a ui-sref="gantt">GanttChart</a></li>
        <li ui-sref-active="active"><a ui-sref="line">LineChart</a></li>
        <li><a href="/admin">DataBase</a></li>
      </ul>
    </div>
  </div>
</nav>
