<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-3 col-md-6" ng-show="vm.isProcessing">
            <progressbar class="progress-striped active" value="vm.progress" max="vm.progressMax">{{vm.progress}} / {{vm.progressMax}}</progressbar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="jumbotron text-left">
                <div class="row">
                    Check all
                    <input type="checkbox" ng-click="vm.checkAllWeeks()" />
                </div>
                <div ng-repeat="week in vm.weeks">
                    <div class="row">
                        Week {{week.num}}
                        <input type="checkbox" ng-model="week.sel" />
                    </div>
                </div>
            </div>
            <button type="button" class='btn btn-primary' ng-click="vm.newSeasonalSched()">Create Seasonal Schedule</button>
        </div>
        <div class="col-md-10">
            <div class="jumbotron text-left">
                <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
                    <tr ng-repeat="row in $data">
                        <td data-title="'Name'" sortable="'name'" filter="{name: 'text'}">{{row.name}}</td>
                        <td data-title="'Age'" sortable="'age'" filter="{age: 'number'}">{{row.age}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


